<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Veiculos</title>
</head>
<body>
    <div>
    <h1> Cadastro de veiculos </h1>
        <hr/>
        <form>

        </form>
    </div>
</body>
</html>
